/*dark pink #F09884
peach #F2C59B
light pink #F4EBE4
lime #E7D80D*/

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat');

* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 16px; /*16px=1em*/
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 10px;
}

h2 {
	text-align: center;
	letter-spacing: 10px;
}

p {
	font-family: 'Crimson Text', serif;
}

header {
	background: #F09884;
	padding: 20px;
	color: #FFF;
	text-transform: uppercase;
}

img {
	width: 300px;
}

#headertitle {
	font-weight: lighter;
}

#coverimage {
	background-image: url(background.jpg);
	background-size: cover;
	padding: 200px;
	text-align: center;
}

#title {
	font-size: 50px;
	font-weight: lighter;
	text-transform: uppercase;
}

#slogan {
	font-style: italic;
	text-transform: lowercase;
}

nav {
	font-family: Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #E8D612;
}

#services {
	padding: 60px;
	margin: 2em auto;
}

#team {
	background: #F2C59B;
	padding: 60px;
}

#portfolio {
	padding: 60px;
}

#contact {
	background: #F2C59B;
	padding: 60px;
}

footer {
	background: #F09884;
	padding: 20px;
}